ul{
	display: inline;
}

li {
	display: inline-flex;
	padding: 1em;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font-style: normal;
	line-height: normal;
	font-weight:bold;
}

li:hover{
	border-radius: 20px;
	background: rgba(28, 187, 196, 0.33);
}

.chat-container {
	width: 200px;
	height: 40px;
	border-radius: 10px;
	background: #F8F3FF;
	box-sizing: border-box;
}
 
/* botones de accion */
.btn-enviar {
   fill: lightblue !important;
   width: 2em;
   height: 2em;
}


.btn-lupa {
	fill: white !important;
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	border: 0
	background-color: #fff;
}

.btn-inpulupa {
	background-color: #0B0033;
	padding: 4px;
	border: 0;
}
  
.chat-input {
	flex: 1;
	padding: 8px;
	border: none;
	border-radius: 3px;
	margin-right: 10px;
  }

.chat-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.send-button{
	border: 0;
	padding: 1px 1px;
	background-color: #fff;
}

.btn-gralchat{
	background: url('../img/ChatBlanco.png') 50% / cover no-repeat;
	width: 80px;
	height: 80px;
	margin-top: 15px;
	margin-bottom: 15px;
	flex-shrink: 0;
	border: 0;
}

.search-container {
	background-color: #0B0033;
	margin: 1em;
	font-size: 20px;
	border-radius: 5px;
	border: 1px solid;
	border-color: #ddd;
}

.input-buscar {
	border: none;
	cursor: pointer;
	margin: 2px;
}

.nav-chat {
	list-style: none;
	color: #ddd;

}

.asist1 {
	display: inline-block;
    max-width: 50%;
	height: auto;

}
.asist2 {
	display: inline-block;
    max-width: 30%;
	height: auto;
}

.chatbox{
	background-color: #ddd;
	height: 400px;
	width: 100px;
}